.menu {
  padding: 1em;
  background-color: $primary;
  height: 100vh;
  img{
    height: 50px;
  }
/*   .top-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
      background-color: transparent;
      color: $secondary;
      border: none;
      p{
        margin: 0 .5em;
      }
    }
  } */

  .menu-label{
    color: $light;
  }
  .menu-list{
    a{
      color: $light;
    }
  }


}