@import "~bulma/sass/utilities/_all";


@import "abstract/variables";
@import "components/navbar";
@import "components/login-page";
@import "components/dashboard/dashboard";
@import "components/dashboard/new-funds";
@import "components/dashboard/funds";

*, html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #202020, #181819, #1b1a1c, #1d1d20, #202024);
}


@import "~bulma";
@import "~buefy/src/scss/buefy";