.login {
  .form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $light;
    padding: 2rem 2rem;
    border-radius: 10px;
    box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 1);

    .field.is-grouped {
      align-self: flex-end;
      margin-right: 1rem;
    }

    .image{
      width: 75%;
    }
    .input{
      width: 120%;
    }
  }

  padding: 5% 0;
}

.title-dash {
  margin: 7.5px auto;
  width: 25%;
  height: .35rem;
  background: linear-gradient(to right, $secondary, #f3f9a7);
}