.navbar{
  letter-spacing: 0.75px;
  .navbar-brand{
    height: 65px;
    .navbar-item{
      display: flex;
      justify-content: center;
    }
    img{
      min-height: 100%;
    }
  }
  .fas, .fab, .far{
    margin-right: 5px;
  }
  div.navbar-item{
    margin-left: 5%;
  }
  .navbar-menu{
    @media screen and (max-width: 768px) {
      text-align: center;
      background: #151515;
      display: block;
      position: absolute;
      right: -50%;
      .navbar-item{
        color: $secondary;
      }
      .buttons{
        margin-top: -15px;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        .button{
          margin: 10px 0;
        }
      }
    }
    &.is-active{
      right: 0%;
      animation: fadeIn .5s ease forwards;
    }
  }

  @keyframes fadeIn {
    from { opacity: 0; right: -50%; }
      to { opacity: 1; right: 0%;}
}

}

